<div id="paypal-button"></div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>

  <script type="text/javascript">
    paypal.Button.render({
      // Configure environment
      env: 'sandbox',
      client: {
        sandbox: 'demo_sandbox_client_id',
        production: 'demo_production_client_id'
      },
      // Customize button (optional)
      locale: 'en_US',
      style: {
        size: 'small',
        color: 'gold',
        shape: 'pill',
      },

      // Enable Pay Now checkout flow (optional)
      commit: true,

      // Set up a payment
      payment: function(data, actions) {
        return actions.payment.create({
          transactions: [{
            amount: {
              total: '10',  //AMOUNT
              currency: 'USD'  //CURRENCY
            }
          }] 
        });
      },
      // Execute the payment
      onAuthorize: function(data, actions) {
        return actions.payment.execute().then(function() {
          // Show a confirmation message to the buyer

          console.log(actions.payment.data);

          window.alert('Thank you for your purchase!');
        });
      }
    }, '#paypal-button');

    $('#paypal-button').click();

  </script>
